.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.main {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
h3 {
  text-align: center;
}
